/.git
/.gitignore
/.gitattributes

/.bundle
/.solargraph.yml
/.yardoc
/doc

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/db/*.sqlite3
/db/*.sqlite3-*
/config/master.key

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
#/tmp/storage/*
#!/tmp/storage/
#!/tmp/storage/.keep

/public/assets

/config/master.key
/config/credentials/production.key
