.article {
  /* display: flex; */
  background-color: #FFFFFF;
  margin-bottom: var(--space-m);
  /* padding-left: 10px; */
}

.article__thumbnail {
  width: 100%;
  background-color: #F0F0F0;
  /* min-height: 360px; */
  object-fit: contain;
}

.article__header {
  padding-top: var(--space-s);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-bottom: var(--space-m);
}

.article__title {
  margin-bottom: var(--space-xs);
  word-break: break-word;
  hyphens: auto;
}

.article__metadata {
  display: flex;
  gap: var(--space-s);
}

.article__log {
  padding: var(--space-xs);
}

.article__log pre {
  white-space: pre-wrap;
}
