.form {
  padding: var(--space-xs);
}

.form__group {
  display: flex;
  flex: 1;
  padding: var(--space-xxs);
}

.form__group--action {
  display: flex;
  justify-content: end;
  gap: var(--space-xs);
  padding: var(--space-xxs);
}

.form__label {
  padding: var(--space-xs);
  font-weight: bold;
}

.form__input {
  display: block;
  width: 100%;
  max-width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--space-xxs) var(--space-xs);
  flex: 1;
}
